test/.cache
__pycache__/
drivelogs/
output/
.idea/
.~lock.aalborg.csv2.csv#
.~lock.aalborg.csvnormalized.csv#
.~lock.aalborgnormalized.csv#
.~lock.f-speedwaynormalized.csv#
training-data/train_data/.~lock.f-speedway.csv#
neat-python-master/
.~lock.alpine-1stats.csv#

